<form action = "user_information" method = "POST">
	<input type = "input" name="post_id" placeholder = "ID (without hashtag)"
	style = "padding: 1.5%; font-size: 125%; border-radius: 5%; border: none; border-bottom: 3px solid #3455db; outline: none; margin-left: 38%; margin-top: 8%; width: 25%"
	><br>
	<button type = "submit"
	style = "margin-top: 1%; padding: 1.5%; color: white; background-color: #3455db; border: none; border-radius: 15%; margin-left: 47%; outline: none;" 
	>Submit!</button>
	<br>
	<br>
	<br>
	<p style = "margin-left: 42%;">(c) EchTR - 2020 | github.com/echtr</p>
</form>