<!DOCTYPE html>
<html>
	<head>
		<title>brawl stars stats - echtr</title>
	</head>
	<body>
		<a href = "/"><= Back</a>
		<div style = "margin-left: 41%;">
			<p style = " margin-top: 18%;">User information for <span style = "color: red;">{{k_name }}</span></p>
			<hr style = "margin-left: -7%; width: 40%;">
			<span style = "color: red;">Tag:</span> <span>{{ k_tag }}</span><br>
			<span style = "color: red;">Name:</span> <span>{{ k_name }}</span><br>
			<span style = "color: red;">Name Color:</span> <span>{{ k_color }}</span><br>
			<span style = "color: red;">Club:</span> <span>{{ k_club }}</span><br>
			<span style = "color: red;">Trophies:</span> <span>{{ k_trophies }}</span><br>
			<span style = "color: red;">Highest Trophies:</span> <span>{{ k_highest }}</span><br>
			<span style = "color: red;">Level:</span> <span>{{ k_level }}</span><br>
<!---			<hr style = "width: 1%; height: 130px; float: left; margin-right: 5%; position: absolute; margin-left: 25%;">
			<div style = "position: absolute; margin-left: 30%; margin-top: 3%;">
--->
			<span style = "color: red;">Solo Victories:</span> <span>{{ k_solo }}<br>
			<span style = "color: red;">Duo Victories:</span> <span>{{ k_duo }}</span><br>
			<span style = "color: red;">3vs3 Victories:</span> <span>{{ k_3 }}</span><br>
		</div>
		<br>
		<br>
		<br>
		<br>
		<p style = "margin-left: 40%;">(c) 2020 EchTR | github.com/echtr</p>
	</body>
</html>