<!DOCTYPE html>
<html>
	<head>
		<title>brawl stars stats - echtr</title>
	</head>
	<body>
		<p>Github: EchTR</p>
		<hr>
		<span>Tag: {{ k_tag }}<span><br>
		<span>Name: {{ k_name }}</span><br>
		<span>Name Color: {{ k_color }}<span><br>
		<span>Club: {{ k_club }}</span><br>
		<span>Trophies: {{ k_trophies }}<span><br>
		<span>Highest Trophies: {{ k_highest }}<span><br>
		<span>Level: {{ k_level }}</span><br>

		<span>Solo Victories: {{ k_solo }}<span><br>
		<span>Duo Victories: {{ k_duo }}</span><br>
		<span>3vs3 Victories: {{ k_3 }}<span><br>
	</body>
</html>